{% extends "base.html.j2" %}

{% block title %}Accueil{% endblock %}

{% block content %}
    <h2>Bienvenue sur Ajedrez</h2>
    <p>Consultez la liste des joueurs, des tournois ou les informations d’un tournoi.</p>
    <ul>
        <li><a href="/players.html">Liste des joueurs</a></li>
        <li><a href="/tournaments.html">Liste des tournois</a></li>
    </ul>
{% endblock %}